@import '../../scss/vars.scss';

.sideMenu {
    width: 100%;
    max-width: 105px;
    display: flex;
    // justify-content: center;
    // margin-right: 24px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;


    &__logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 8px;
        background-color: rgba($color: #EB966A, $alpha: .26);
        border-radius: 12px;
        cursor: pointer;
        width: 100%;
        max-width: 56px;
        margin: 0 auto 46px auto;


        &>img {
            width: 100%;
            max-width: 40px;
        }
    }

    &__list {

        border-radius: 16px;
        background-color: #1F1D2B;
        padding: 24px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &-item {
            width: 100%;
            &>div {
                background-color: transparent;
                transition: background-color .3s ease;
                pointer-events: none;
                user-select: none;
            }

            // &:last-child {
            //     padding-bottom: 24px;
            // }

            &:hover,
            &.active {
                transition: all .4s ease;
                &>div>button {
                    &::before {
                        left: 0;
                    }
                }

                .menu__btn-svg {
                    fill: #fff;
                }
            }
        }
    }
}