.addedToCart {
    animation: added 2s ease 0s 1 normal forwards;
    transition: all .3s ease;
}

.removeFromCart {
    animation: remove 2s ease 0s 1 normal forwards;
    transition: all .3s ease;
}


.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
}

@keyframes added {
    0%{
        transform: translateX(100%) scale(0);
    }
    100%{
        transform: translateX(0) scale(1);
    }
}

@keyframes remove {
    0%{
        transform: translateX(0%) scale(1);
    }
    100%{
        transform: translateX(100%) scale(0);
    }
}
