@import './vars.scss';
@import './sampels.scss';

.menu-btn {
    background: transparent;
    border-radius: 8px;

    transition: all .3s ease;

    border-radius: 8px;
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 56px;
    height: 56px;

    position: relative;
    overflow: hidden;

    &>svg {
        z-index: 1;
    }

    &::before {
        content: '';
        width: inherit;
        height: inherit;
        position: absolute;
        left: 100%;
        top: 0;
        background-color: #EA7C69;
        z-index: 0;
        border-radius: inherit;
        transition: all .3s ease;
    }

    &:hover,
    &.active {

        &::before {
            left: 0;
        }

        // background: #EA7C69;
        box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);

        .menu__btn-svg {
            fill: #fff;
        }
    }
}

.order-btn {
    padding: 7px 12px;
    border: 1px solid #393C49;
    border-radius: 8px;
    color: $activeCl;
    background-color: transparent;
    transition: all .3s ease;

    &:hover,
    &.active {
        background-color: $activeCl;
        color: $appTxtCl;
    }
}


.delete-btn {
    width: 48px;
    height: 48px;

    // overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    padding: 14px;

    border: 1px solid #FF7CA3;
    border-radius: 8px;

    background-color: transparent;
    transition: all .3s ease;

    &>svg {
        z-index: 1;

        &>path {
            transition: all .3s ease;
        }
    }

    &:hover {
        background-color: #FF7CA3;

        &>svg>path {
            fill: #fff;
        }
    }

}


.qty {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #393C49;
    border-radius: 8px;

    background-color: #2D303E;
}


.continueBtn {
    background: #EA7C69;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.3);
    border-radius: 8px;

    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    @extend %bodyNormalSemiBold;
}

.input,
input[type="date"] {
    width: 100%;
    background-color: #2D303E;
    border: 1px solid #393C49;
    border-radius: 8px;
    padding: 14px;
    @extend %bodyNormalRegular;

    transition: background-color .3s ease;

    &:hover,
    &:focus {
        background-color: #1F1D2B;
    }
}

.label {
    display: block;
    margin-bottom: 16px;
    width: 100%;

    &>span {
        @extend %bodyNormalMedium;
        display: block;
        margin-bottom: 8px;
    }

    &>input {
        margin-top: 8px;
    }
}


.button {
    width: 100%;
    text-align: center;
    padding: 14px;
    background-color: transparent;
    @extend %bodyNormalSemiBold;
    white-space: nowrap;
    color: $activeCl !important;
    border: 1px solid $activeCl;
    border-radius: 8px;

    transition: all .3s ease;

    &:hover {
        background-color: $activeCl;
        color: #fff !important;
    }
}


.topLine {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
        margin-right: 15px;

        &-title {
            @extend %headingH1;
            margin-bottom: 5px;
        }

        &-date {
            @extend %bodyLargeRegular;
        }
    }

    &__right {
        &-input {
            width: 100%;
            height: 48px;
            max-width: 220px;
            display: flex;
            align-items: center;
            position: relative;

            // &:hover{
            //     &>img{
            //         transform: rotateZ(-45deg);
            //     }
            // }
            &>img {
                position: absolute;
                left: 14px;
                top: 50%;
                transform: translateY(-50%);
                transition: transform .3s ease;
            }

            &>input {
                width: 100%;
                height: inherit;
                padding: 14px 14px 14px 42px;
                border: 1px solid #393C49;
                border-radius: 8px;
                background-color: #2D303E;
                color: #fff;
                @extend %bodyNormalRegular;
                transition: background-color .3s ease-out;

                &:hover,
                &:focus {
                    background-color: #1F1D2B;
                }

                &::placeholder {
                    color: $lightCl;
                }
            }
        }
    }
}


.select {
    position: relative;

    &.open {
        .select__dropDown {
            transform: scale(1) translateX(0);
        }

        .select__input-wrapper>img {
            transform: rotateZ(180deg);
        }
    }

    &__input {
        cursor: pointer;
        padding: 14px;
        background: #1F1D2B;
        border: 1px solid #393C49;
        box-sizing: border-box;
        border-radius: 8px;

        &:hover {
            background-color: #2D303E;
        }

        &-wrapper {
            display: flex;
            align-items: center;
            pointer-events: none;
            user-select: none;

            &>img {
                margin-right: 10px;
                transform: rotateZ(0deg);
                transition: transform .3s ease;
            }

            &>span {
                @extend %bodyNormalMedium;
            }
        }
    }

    &__dropDown {
        position: absolute;
        left: 0;
        bottom: -155px;
        z-index: 5;
        width: 100%;
        background-color: #1F1D2B;
        border: 1px solid #393C49;
        border-radius: 8px;
        box-sizing: border-box;
        overflow: hidden;

        transform: scale(0) translateX(-100%);
        transition: transform .3s ease;

        &>ul {
            overflow-y: hidden;

            &>li {
                @extend %bodyNormalRegular;
                padding: 9px;
                cursor: pointer;
                transition: all .3s ease;

                &.selected {
                    background-color: #EA7C69;
                    user-select: none;
                }

                &:not(.selected):hover {
                    background-color: #2D303E;
                }
            }
        }

    }
}