$appBg:#252836;
$appTxtCl:#fff;
$lightCl:#ABBBC2;
$activeCl:#EA7C69;



// ------Heading
$h1:28px;
$h2:20px;
$hlh:39px;


// ---------BODY-------------
$lgtxtfz:16px;
$mdtxtfz:14px;
$smtxtfz:12px;

$lgfw:600;
$mdfw:500;
$rgfw:400;

$txtlh:140%;




